.box2{padding-left: 4px;margin-top:0}
.form-horizontal1 .controls {margin-left:80px}
.form-horizontal1 .help-block{color:red}
.form-horizontal1 .control-label{width: 80px;text-align: left;}
.controls.error span.filename,label.error {color:red}
label.error{padding-left:3px}
div.ata-section{width:auto;height:auto;padding-bottom: 12px;max-width:80%}
div.ata-section.checker{vertical-align:top}
.ata-section-group label.checkbox{padding-left:0}
.ata-section-group label.checkbox p{margin-left:5px}
.ata-section .header{font-weight:bold;font-size:14px;}
.ata-section .summary{color:gray;font-size:11px;}
.paper-confirm {padding-bottom:50px;margin-top:5px}
.paper-confirm .bold{font-weight:bold;font-size:13px;}
.paper-confirm p .bold{font-weight:bold;font-size:13px;word-break:break-word;white-space:normal}
.paper-confirm p span{white-space:nowrap}
.paper-confirm p span.title{display:inline-block;width:150px;}
.paper-confirm p {display:block;vertical-align:top;}
.paper-confirm p.time-limit {padding:0;}
.paper-confirm p.paper-name {min-width:200px;}
.paper-confirm p.ata-sections {max-width:400px;}
@media (max-width:1024px){ 
	.paper-confirm p.ata-sections {max-width:310px;}
}
.table-header {font-weight:bold; font-size:14px;padding-left:15px;}
iframe {border:0; height:0;-ms-overflow-x:0;}
div.form-actions .btn{margin:0 6px;}
div.paper-container {max-width:99%; background-color: #eff5f9;padding:10px;}
span.clear-file {margin-left:5px; color:red;font-size:12px;}
span.clear-file div.checker{margin-right:0;}
a.btn-download{padding: 3px 15px 3px;}
