{% extends "index.html"  %}

{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}
<div>
    <ul class="breadcrumb">
        <li>
        <a href="{% url 'home' %}">首页</a> <span class="divider">|</span>
        </li>
        <li>
        <a href="{% url 'profile' %}">个人信息</a>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="box span12">
        <ul class="profile-page">
            <li><span>{% trans 'Account' %}</span>{{ user.username }}</li>
            <li><span>{% trans 'User name' %}</span>{{ user.last_name }}</li>
            <li><span>{% trans 'email address' %}</span>{{ user.email }}</li>
            <li id="profile-tab"><span>&nbsp;</span>
            <a href="javascript:;" class="btn btn-change-psw">
                <i class="icon-edit-profile icon-white"></i>
                {% trans 'Change profile' %}
            </a>
            <a class="btn btn-change" href="javascript:;">
                <i class="icon-change-psw icon-white"></i>
                {% trans 'Change password' %}
            </a>
            </li>
        </ul>
        <div class="box-edit-profile" style="display:none;">
            <h2 class="change-psw">编辑个人信息</h2>
            <form class="form-horizontal" action='.' method="POST">
                {% csrf_token %}
                <input type="hidden" name="form" value="profile_form">
                {{ profile_form|as_bootstrap }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-submit">{% trans 'Save' %}</button>
                    <button type="reset" class="btn btn-cancel" onclick="location.href='.'">{% trans "Cancel" %}</button>
                </div>
            </form>
        </div>

        <div class="box-change-password" style="display:none;">
            <h2 class="change-psw">修改密码</h2>
            <form class="form-horizontal" action='.' method="POST">
                {% csrf_token %}
                <input type="hidden" name="form" value="password_form">
                {{ password_form|as_bootstrap }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-submit">{% trans 'Save' %}</button>
                    <button type="reset" class="btn btn-cancel" onclick="location.href='.'">{% trans "Cancel" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function(){
        {% if profile_form.errors %}
        $(".box-edit-profile").show();
        {% elif password_form.errors %}
        $(".box-change-password").show();
        {% endif %}
        $(".profile-page li a.btn-change").click(function(){
            $(".box-change-password").show();
            $(".box-edit-profile").hide();
        });
        $(".profile-page li a.btn-change-psw").click(function(){
            $(".box-change-password").hide();
            $(".box-edit-profile").show();
        });
    })
</script>
{% endblock %}
